body {
  margin: 0;
  font-family: sans-serif;
  background: #87CEEB;
}

header {
  background: #2e8b57;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

nav {
  background: #444;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

section {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #2e8b57;
}

footer {
  background: #2e8b57;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
